<?xml version='1.0' encoding='utf-8'?>
<widget id="ng.com.zinoadidi.impossibleEscape" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Impossible Excape</name>
    <description>
        Help Simi the Afro-centric lady out run the looming tornado ravaging her beloved city.
    </description>
    <author email="zinoadidi@gmail.com" href="http://zinoadidi.com.ng">
        Zino Adidi
    </author>
    <icon src="icon.png" />
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
    <preference name="orientation" value="landscape" />
    <plugin name="cordova-plugin-screen-orientation" spec="^3.0.1" />
    <plugin name="cordova-plugin-whitelist" spec="1" />
</widget>
